<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0d5f0">  <td>16/01/14 10:46:39</td>   <td>0</td> <td title="&gt;&gt;WebMachine_CustomerCareForm_Test.checkSuiteRunStatus(java.lang.String)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_CustomerCareForm_Test@a1153bc]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136419747</td>   <td></td> </tr>
</table>
