<h2>Reporter output</h2><table><tr><td>2016/01/14 10:46:39  ....Test Environment is "http://www.schneider-electric.com/us/en/". Read in from FileSystem Properties file, because no argument was passed from Jenkins/Maven/TestNG/CommandLine.</td></tr>
<tr><td>2016/01/14 10:46:39  Test Domain is http://www.schneider-electric.com/us/en/</td></tr>
</table>