<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WebMachine</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dca596">  <td>16/01/14 11:08:53</td>   <td>0</td> <td title="&gt;&gt;WebMachine_CustomerCareForm_Test.checkSuiteRunStatus(java.lang.String)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_CustomerCareForm_Test@4c583ecf]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1011279482</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/01/14 11:08:53</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_CustomerCareForm_Test.WebMachine_DispatchPageTest(java.util.Hashtable, java.util.Hashtable, java.util.Map)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_CustomerCareForm_Test@4c583ecf]">WebMachine_DispatchPageTest</td> 
  <td>main@1011279482</td>   <td></td> </tr>
<tr bgcolor="f16a6f">  <td>16/01/14 11:10:35</td>   <td>101522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebMachine_BasePage_Test.tearDownSuite()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_CustomerCareForm_Test@4c583ecf]">&lt;&lt;tearDownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1011279482</td>   <td></td> </tr>
</table>
